/* Adicione esta regra ao seu arquivo style.css */

.botao-navegacao {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    background-color: #2196F3; /* Azul */
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.botao-navegacao:hover {
    background-color: #0b7dda;
}